<template name="companyManagerTemplate">
    <div class="panel panel-default">
        <div class="panel-heading">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">公司管理</a>
                    </div>
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <button class="btn btn-default btn-sm navbar-btn" id="btn_add_company">
                                增加公司
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="panel-body">
            {{> addCompanyTemplate}}
            {{> companyListTemplate}}
        </div>
    </div>
</template>

<template name="addCompanyTemplate">
    <div class="modal fade" id="addCompanyModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    {{#autoForm collection="gCompanies" id="addCompanyForm" type="insert"}}
                        <fieldset>
                            <legend>增加公司</legend>
                            {{> afQuickField name='code'}}
                            {{> afQuickField name='title'}}
                            {{> afQuickField type="select" name='companyType' options=companyTypeOptions}}
                            {{> afQuickField type="select" name='boss' options=bossOptions}}
                            {{> afQuickField type="select" name='supervisor' options=supervisorOptions}}
                            {{> afQuickField type="select" name='region' options=regionOptions}}
                            {{> afQuickField name='comments' row="6"}}
                        </fieldset>
                    {{/autoForm}}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">增加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>

            </div>
        </div>
    </div>

</template>

<template name="companyListTemplate">
    <div class="panel">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>编码</th>
                    <th>名称</th>
                    <th>机构性质</th>
                    <th>负责人</th>
                    <th>行政上级</th>
                    <th>区域划分</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                {{#each companies}}
                    <tr>
                        <td>{{code}}</td>
                        <td>{{title}}</td>
                        <td>{{getCompanyType companyType}}</td>
                        <td>{{getBoss boss}}</td>
                        <td>{{getSupervisor supervisor}}</td>
                        <td>{{getRegion region}}</td>
                        <td>{{comments}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>