<template name="companyTypeMangagerTemplate">
    <div class="panel panel-default">
        <div class="panel-heading">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">{{langOrganizeTypeManagement}}</a>
                    </div>
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <button class="btn btn-default btn-sm navbar-btn" id="btn_show_or_hide_addCompanyType_panel">
                                {{langAddOrganizeType}}
                                {{#if showAddCompanyTypePanel}}
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                {{else}}
                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                {{/if}}
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="panel-body">
            {{#if showAddCompanyTypePanel}}
                {{> addCompanyTypeTemplate}}
            {{/if}}
            {{> companyTypeListTemplate}}
        </div>
    </div>
</template>

<template name="addCompanyTypeTemplate">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{langAddOrganizeType}}
        </div>
        <div class="panel-body">
            <p>{{langOrganizeType}}:
                <input type="text" id="text_add_organize_type">
                {{verifyCompanyTypeError}}
            </p>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-primary" id="btn_add_company_type">{{langAdd}}</button>
        </div>
    </div>
</template>

<template name="companyTypeListTemplate">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{langCurrentOrganizeTypes}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each companyTypes}}
            <tr>
                <td>
                    <button class="btn btn-xs btn-danger companyTypeRemove" value={{_id}}><span class="glyphicon glyphicon-remove"></span></button>
                    <button class="btn btn-xs btn-info companyTypeEdit" value={{_id}}><span class="glyphicon glyphicon-pencil"></span></button>
                    {{title}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>