<template name="companyManagerTemplate">
    <div class="panel panel-default">
        <div class="panel-heading">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">公司管理</a>
                    </div>
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <button class="btn btn-default btn-sm navbar-btn" id="btn_add_company">增加公司</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="panel-body">

        </div>

    </div>
</template>