<template name="companyManagerTemplate">
    <div class="panel panel-default">
        <div class="panel-heading">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">{{langCompanyManagement}}</a>
                    </div>
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <button class="btn btn-default btn-sm navbar-btn" id="btn_add_company">
                                {{langAddCompany}}
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="panel-body">
            {{#if showAddCompanyPanel}}
                {{> addCompanyTemplate}}
            {{/if}}
            {{> companyListTemplate}}
        </div>
    </div>
</template>

<template name="addCompanyTemplate">
    <div class="panel  panel-default">
            <div class="panel-heading">
                    {{langAddCompany}}
            </div>
            <div class="panel-body">
                    <form class="container-fluid">
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6 col md-6">
                                <label for="input_company_code">{{langCompanyCode}}：</label>
                                <input id="input_company_code">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col md-6">
                                <label  for="input_company_title">{{langCompanyTitle}}：</label>
                                <input  id="input_company_title">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6 col md-6">
                                <label for="input_company_type">{{langCompanyType}}：</label>
                                <select id="input_company_type">
                                    <option value=""></option>
                                    {{#each companyTypeOptions}}
                                        <option val={{code}}>{{title}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col md-6">
                                <label  for="input_company_region">{{langCompanyRegion}}：</label>
                                <select id="input_company_region">
                                    <option value=""></option>
                                    {{#each regionOptions}}
                                        <option val={{code}}>{{title}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6 col md-6">
                                <label for="input_company_charger">{{langCompanyCharger}}：</label>
                                <select id="input_company_charger">
                                    <option value=""></option>
                                    {{#each bossOptions}}
                                        <option val={{code}}>{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col md-6">
                                <label  for="input_company_supervisor">{{langCompanySupervisor}}：</label>
                                <select id="input_company_supervisor">
                                    <option value=""></option>
                                    {{#each supervisorOptions}}
                                        <option val={{code}}>{{title}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </form>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary">{{langAdd}}</button>
                <button type="button" class="btn btn-default" id="btn_cancel_add_company">{{langCancel}}</button>
            </div>
    </div>
</template>

<template name="companyListTemplate">
    <div class="panel">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{langCompanyCode}}</th>
                    <th>{{langCompanyTitle}}</th>
                    <th>{{langCompanyType}}</th>
                    <th>{{langCompanyCharger}}</th>
                    <th>{{langCompanySupervisor}}</th>
                    <th>{{langCompanyRegion}}</th>
                    <th>{{langCompanyComment}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each companies}}
                    <tr>
                        <td>{{code}}</td>
                        <td>{{title}}</td>
                        <td>{{getCompanyType companyType}}</td>
                        <td>{{getBoss boss}}</td>
                        <td>{{getSupervisor supervisor}}</td>
                        <td>{{getRegion region}}</td>
                        <td>{{comments}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>