<template name="departmentManagerTemplate">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed"
                                data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">{{langDepartmentManagement}}</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" id="btn_show_add_department_panel" >
                                {{langAdd}}
                                <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="panel-body">
            {{#if showAddDepartmentPanel}}
                {{> addDepartmentTemplate}}
            {{/if}}
        </div>

        <!-- Table -->
        {{> departmentListTemplate}}
    </div>

</template>

<template name="addDepartmentTemplate">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <label>{{langDepartmentCode}}</label>
                        <input type="text" class="form-control" id="input_department_code"
                               placeholder={{langDepartmentCode}} value={{modifyDepartmentCode}} >
                        <span class="errorMsg">{{verifyDepartmentCodeError}}</span>
                    </div>

                    <div class="col-sm-6">
                        <label>{{langDepartmentTitle}}</label>
                        <input type="text" class="form-control" id="input_department_title"
                               placeholder={{langDepartmentTitle}} value={{modifyDepartmentTitle}}>
                        <span class="errorMsg">{{verifyDepartmentTitleError}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>{{langDepartmentType}}</label>
                        <select class="form-control" id="input_department_type" >
                            <option value=" ">{{langSelect}}</option>
                            {{#each companyTypeOptions}}
                                {{#if selected _id modifyCompanyType}}
                                    <option value={{_id}} selected="true" >{{title}}</option>
                                {{else}}
                                    <option value={{_id}} >{{title}}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label>{{langDepartmentRegion}}</label>
                        <select  class="form-control" id="input_department_region" >
                            <option value=" ">{{langSelect}}</option>
                            {{#each regionOptions}}
                                {{#if selected _id modifyDepartmentRegion}}
                                    <option value={{_id}} selected="true" >{{title}}</option>
                                {{else}}
                                    <option value={{_id}} >{{title}}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>{{langDepartmentCompanyOwner}}</label>
                        <select  class="form-control" id="input_department_company_owner">
                            <option value=" ">{{langSelect}}</option>
                            {{#each companies}}
                                {{#if selected _id modifyCompanyOwner}}
                                    <option value={{_id}} selected="true" >{{title}}</option>
                                {{else}}
                                    <option value={{_id}} >{{title}}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>{{langDepartmentCharger}}</label>
                        <select  class="form-control" id="input_department_charger">
                            <option value=" ">{{langSelect}}</option>
                            {{#each bossOptions}}
                                {{#if selected _id modifyDepartmentBoss}}
                                    <option value={{_id}} selected="true" >{{realname}}</option>
                                {{else}}
                                    <option value={{_id}} >{{realname}}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>{{langDepartmentSupervisor}}</label>
                        <select  class="form-control" id="input_department_supervisor" >
                            <option value=" ">{{langSelect}}</option>
                            {{#each supervisorOptions}}
                                {{#if selected _id modifyDepartmentSupervisor}}
                                    <option value={{_id}} selected="true" >{{title}}</option>
                                {{else}}
                                    <option value={{_id}} >{{title}}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label>{{langDepartmentComment}}</label>
                        <textarea id="input_department_comment" class="form-control" row="3" >
                            {{modifyDepartmentComment}}
                        </textarea>
                    </div>
                </div>

            </form>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary " id="btn_add_department">
                <span class="glyphicon glyphicon-plus-sign"></span>
                {{#if isModifyDepartment}}
                    {{langModify}}
                {{else}}
                    {{langAdd}}
                {{/if}}
            </button>
        </div>
    </div>

</template>

<template name="departmentListTemplate">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="info">
                    <th>{{langDepartmentCode}}</th>
                    <th>{{langDepartmentTitle}}</th>
                    <th>{{langDepartmentType}}</th>
                    <th>{{langDepartmentCompanyOwner}}</th>
                    <th>{{langDepartmentCharger}}</th>
                    <th>{{langDepartmentSupervisor}}</th>
                    <th>{{langDepartmentRegion}}</th>
                    <th>{{langDepartmentComment}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{#each departments}}
                <tr>
                    <td>{{code}}</td>
                    <td>{{title}}</td>
                    <td>{{getDepartmentType departmentType}}</td>
                    <td>{{getCompanyOwner companyID}}</td>
                    <td>{{getBoss boss}}</td>
                    <td>{{getSupervisor supervisor}}</td>
                    <td>{{getRegion region}}</td>
                    <td>{{comments}}</td>
                    <td>
                        <button class="btn btn-danger departmentRemove" value={{_id}}>
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-info departmentEdit" value={{_id}}>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

</template>