<template name="headerTemplate">
    <div class="ui borderless main menu">
        <div class="ui text container">
            <div href="/" class="header item">
                {{langWebTitle}}
            </div>
            <a href="/logout" class="item">{{langLogout}}</a>
            <a href="/login" class="item">{{langLogin}}</a>
            <a href="#" class="ui right floated dropdown item">
                {{langChangeLanguage}} <i class="dropdown icon"></i>

                <div class="menu">
                    <div class="item"  id="btn_simple_chinese">简体中文</div>
                    <div class="item"  id="btn_tradition_chinese">繁體中文</div>
                    <div class="item"  id="btn_english">English</div>
                    <div class="item"  id="btn_japan">日本語</div>
                </div>
            </a>
        </div>
    </div>
</template>
