<template name="loginTmp">
	<div class="ui segment">
        <div class="ui form">
            <h2>{{langLogin}}</h2>
            <div class="field">
                <label>{{langLoginName}}</label>
                <input type="text" id="text_login_name" >
                <span class="errorMsg">{{verifyLoginNameError}}</span>
            </div>
            <div class="field">
                <label>{{langLoginPassword}}</label>
                <input type="password" id="text_login_password" >
                <span class="errorMsg">{{verifyLoginPasswordError}}</span>
            </div>
            <div class="field">
                <button class="positive ui compact button" id="btn_login">
                    {{langLogin}}
                </button>
            </div>
        </div>
    </div>
</template>
