<template name="regionManagerTemplate">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h4 class="panel-title pull-left">{{langRegionManagement}}</h4>
            <button id="btn_show_or_hide_addRegion_panel" class="btn btn-default pull-right">
                {{langAdd}}
                <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
            </button>
            <div class="clearfix"></div>
        </div>

        <div class="panel-body">
            {{#if showAddRegionPanel}}
                {{>addRegionTemplate}}
            {{/if}}
        </div>

        <!-- Table -->
        {{> regionListTemplate}}
    </div>

</template>

<template name="addRegionTemplate">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">
                {{#if is_super_admin}}
                    <div class="form-group  has-feedback">
                        <label class="col-md-2 control-label" for="input_region_group">
                            {{langGroup}}
                        </label>
                        <div class="col-md-6">
                            <select id="input_region_group" name="input_region_group"  class="form-control">
                                <option value="">{{langSelect}}</option>
                                {{#each groups}}
                                    {{#if is_same _id modifyRegionGroupID}}
                                        <option selected="true" value={{_id}} >{{title}}</option>
                                    {{else}}
                                        <option value={{_id}} >{{title}}</option>
                                    {{/if}}
                                {{/each}}
                            </select>
                            {{#if is_error validateRegionGroup}}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {{/if}}
                        </div>

                        <div class="col-md-2">
                            <label class="control-label error-msg">{{validateRegionGroup}}</label>
                        </div>

                    </div>
                {{/if}}

                <div class="form-group  has-feedback">
                    <label class="col-md-2 control-label" for="input_region_code">
                        {{langRegionCode}}
                    </label>
                    <div class="col-md-6">
                        <input type="text" id="input_region_code"
                               name="input_region_code" class="form-control" value={{modifyRegionCode}}>
                        {{#if is_error verifyRegionCodeError}}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        {{/if}}
                    </div>

                    <div class="col-md-2">
                        <label class="control-label error-msg">{{verifyRegionCodeError}}</label>
                    </div>

                </div>

                <div class="form-group  has-feedback">
                    <label class="col-md-2 control-label" for="input_region_title">
                        {{langRegionTitle}}
                    </label>
                    <div class="col-md-6">
                        <input type="text" id="input_region_title"
                               name="input_region_title" class="form-control" value={{modifyRegionTitle}}>
                        {{#if is_error verifyRegionTitleError}}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        {{/if}}
                    </div>

                    <div class="col-md-2">
                        <label class="control-label error-msg">{{verifyRegionTitleError}}</label>
                    </div>

                </div>

                <div class="form-group  has-feedback">
                    <label class="col-md-2 control-label" for="input_region_parent">
                        {{langRegionParent}}
                    </label>
                    <div class="col-md-6">
                        <select id="input_region_parent" name="input_region_parent"  class="form-control">
                            <option value="">{{langSelect}}</option>
                            {{#each regions}}
                                {{#if is_same code modifyRegionParent}}
                                    <option selected="true" value={{code}} >{{title}}</option>
                                {{else}}
                                    <option value={{code}} >{{title}}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                        {{#if is_error validateRegionParent}}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        {{/if}}
                    </div>

                    <div class="col-md-2">
                        <label class="control-label error-msg">{{validateRegionParent}}</label>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-12 col-md-offset-2">
                        <button type="button" class="btn btn-info" id="btn_add_region">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            {{#if modifyRegionPanel}}
                                {{langModify}}
                            {{else}}
                                {{langAdd}}
                            {{/if}}
                        </button>
                    </div>
                </div>

            </form>

        </div>
        {{#if is_error validateRegionError}}
            <div class="panel-footer">
                <p class="error-msg" >{{validateRegionError}}</p>
            </div>
        {{/if}}
    </div>

</template>

<template name="regionListTemplate">
        <table class="table table-striped table-bordered ">
            <thead>
            <tr class="info">
                <th>{{langGroup}}</th>
                <th>{{langRegionCode}}</th>
                <th>{{langRegionTitle}}</th>
                <th>{{langRegionParent}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each regions}}
                <tr>
                    <td>{{getGroupName groupID}}</td>
                    <td>{{code}}</td>
                    <td>{{title}}</td>
                    <td>{{getRegionParent parentCode groupID}}</td>
                    <td>
                        <button class="btn btn-danger btn-xs regionRemove" value={{_id}}>
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-info btn-xs regionEdit" value={{_id}}>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
</template>