<template name="regionManagerTemplate">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h4 class="panel-title pull-left">{{langRegionManagement}}</h4>
            <button id="btn_show_or_hide_addRegion_panel" class="btn btn-default pull-right">
                {{langAdd}}
                <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
            </button>
            <div class="clearfix"></div>
        </div>

        <div class="panel-body">
            {{#if showAddRegionPanel}}
                {{>addRegionTemplate}}
            {{/if}}
        </div>

        <!-- Table -->
        {{> regionListTemplate}}
    </div>

</template>

<template name="addRegionTemplate">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form container-fluid">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>{{langRegionCode}}</label>
                        <input type="text" class="form-control" id="input_region_code" value={{modifyRegionCode}}>
                        <span class="errorMsg">{{verifyRegionCodeError}}</span>
                    </div>

                    <div class="col-sm-6">
                        <label>{{langRegionTitle}}</label>
                        <input type="text" class="form-control" id="input_region_title" value={{modifyRegionTitle}}>
                        <span class="errorMsg">{{verifyRegionTitleError}}</span>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>{{langRegionParent}}</label>
                        <select class="form-control" id="input_region_parent">
                            <option value=" ">{{langSelect}}</option>
                            {{#each regions}}
                                {{#if selected code modifyRegionParent}}
                                    <option selected='true' value={{code}}>{{title}}</option>
                                {{else}}
                                    <option value={{code}}>{{title}}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                    </div>
                </div>

            </form>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary " id="btn_add_region">
                <span class="glyphicon glyphicon-plus-sign"></span>
                {{#if modifyRegionPanel}}
                    {{langModify}}
                {{else}}
                    {{langAdd}}
                {{/if}}
            </button>
        </div>
    </div>

</template>

<template name="regionListTemplate">
        <table class="table table-striped table-bordered ">
            <thead>
            <tr class="info">
                <th>{{langGroup}}</th>
                <th>{{langRegionCode}}</th>
                <th>{{langRegionTitle}}</th>
                <th>{{langRegionParent}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each regions}}
                <tr>
                    <td>{{getGroupName groupID}}</td>
                    <td>{{code}}</td>
                    <td>{{title}}</td>
                    <td>{{getRegionParent parentCode}}</td>
                    <td>
                        <button class="btn btn-danger btn-xs regionRemove" value={{_id}}>
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-info btn-xs regionEdit" value={{_id}}>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
</template>