<template name="sidebarTemplate">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{realTime}}
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-cog"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        {{langSystemManagement}}
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-user"></span>
                        <a href="/usermanager">{{langUserManagement}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-th"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        {{langBaseDataManagement}}
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-book"></span>
                        <a href="/companytypemanager">{{langCompanyTypeManagement}}</a>
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-globe"></span>
                        <a href="/regionmanager">{{langRegionManagement}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-wrench"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        {{langOrganizeManagement}}
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-tower"></span>
                        <a href="/companymanager">{{langCompanyManagement}}</a>
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-credit-card"></span>
                        <a href="/departmentmanager">{{langDepartmentManagement}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        {{langBusinessProcessManagement}}
                    </a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        {{langBusinessReportManagement}}
                    </a>
                </h4>
            </div>
        </div>
    </div>

</template>