<template name="sidebarTemplate">
    <div class="ui styled accordion" id="accordion">
        <h4 class="ui center aligned header">
            {{realTime}}
        </h4>
        <div class="title">
            <i class="dropdown icon"></i>
            {{langSystemManagement}}
        </div>
        <div class="content">
            <div class="ui list">
                <div class="item">
                    <a href="/usermanager">
                        {{langUserManagement}}
                    </a>
                </div>
            </div>
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            {{langBaseDataManagement}}
        </div>
        <div class="content">
            <div class="ui list">
                <div class="item">
                    <a href="/companytypemanager">
                        {{langOrganizeTypeManagement}}
                    </a>
                </div>
                <div class="item">
                    <a href="/regionmanager">
                        {{langRegionManagement}}
                    </a>
                </div>
            </div>
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            {{langOrganizeManagement}}
        </div>
        <div class="content">
            <div class="ui list">
                <div class="item">
                    <a href="/companymanager">
                        {{langCompanyManagement}}
                    </a>
                </div>
            </div>
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            {{langBusinessProcessManagement}}
        </div>
        <div class="content">

        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            {{langBusinessReportManagement}}
        </div>
        <div class="content">

        </div>
    </div>
</template>