<template name="userManagerTemplate">
    <div class="ui segments">
        <div class="ui clearing segment">
            {{langUserManagement}}
            <div class="ui right floated compact primary button" id="btn_show_add_user_panel">
                {{langAdd}}
                {{#if isShowAddUserPanel}}
                    <i class="arrow up icon"></i>
                {{else}}
                    <i class="arrow down icon"></i>
                {{/if}}
            </div>
        </div>
        {{#if isShowAddUserPanel}}
            {{>userAddTemplate}}
        {{/if}}
        {{#if isPermitedToshowUsers}}
            {{> userListTemplate}}
        {{/if}}
    </div>

</template>

<template name="userAddTemplate">
    <div class="ui segment">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>{{langUserName}}</label>
                    <input type="text" class="form-control" id="input_user_name">
                    <span class="errorMsg">{{verifyInputNameError}}</span>
                </div>

                <div class="field">
                    <label>{{langUserPassword}}</label>
                    <input type="password" class="form-control" id="input_user_password">
                    <span class="errorMsg">{{verifyInputPasswordError}}</span>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>{{langUserRealName}}</label>
                    <input type="text" class="form-control" id="input_user_realname">
                    <span class="errorMsg">{{verifyInputRealnameError}}</span>
                </div>

                <div class="field">
                    <label>{{langUserGender}}</label>
                    <select class="form-control" id="input_user_gender">
                        <option value={{langMan}}>{{langMan}}</option>
                        <option value={{langWomen}}>{{langWomen}}</option>
                    </select>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>{{langUserCompany}}</label>
                    <select id="input_user_company" class="ui selection dropdown">
                        <option value="">{{langSelect}}</option>
                        {{#each companies}}
                            <option value={{_id}}>{{title}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="field">
                    <label>{{langUserDepartment}}</label>
                    <select class="ui selection dropdown" id="input_user_department">
                        <option value="">{{langSelect}}</option>
                        {{#each departments}}
                            <option value={{_id}}>{{title}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>{{langUserJob}}</label>
                    <select id="input_user_job" class="ui selection dropdown">
                        <option value="">{{langSelect}}</option>
                        {{#each jobs}}
                            <option value={{_id}}>{{title}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="field">
                    <label>{{langUserPermission}}</label>
                    <select class="ui selection dropdown" id="input_user_permission">
                        <option value="">{{langSelect}}</option>
                        {{#each permissions}}
                            <option value={{_id}}>{{title}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="field">
                <button class="positive ui compact button" id="btn_save">
                    {{#if isModifyCompany}}
                        {{langModify}}
                    {{else}}
                        {{langAdd}}
                    {{/if}}
                </button>
            </div>
        </form>
    </div>
</template>

<template name="userListTemplate">
    <div class="ui segment">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>{{langUserCode}}</th>
                <th>{{langUserName}}</th>
                <th>{{langUserRealName}}</th>
                <th>{{langUserGender}}</th>
                <th>{{langUserCompany}}</th>
                <th>{{langUserDepartment}}</th>
                <th>{{langUserJob}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each users}}
                <tr>
                    <td>{{code}}</td>
                    <td>{{name}}</td>
                    <td>{{realname}}</td>
                    <td>{{gender}}</td>
                    <td>
                        {{companyTitle companyCode}}
                    </td>
                    <td>{{departmentCode}}</td>
                    <td>{{job}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>
