<template name=""
<template name="registerTmp">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                员工注册
            </h3>
        </div>
        <div class="panel-body">

        </div>
        <div class="panel-footer">
            <button class="btn btn-default" id="btn_return">
                返回
            </button>
            <button class="btn btn-primary" id="btn_register">
                注册
            </button>
        </div>
    </div>
</template>


